@import "./commot.less";

.pyg_view {
 display: flex;
 overflow: hidden;

 .left {
  // overflow: scroll;
  width: 80px;
  background-color: #ccc;

  ul {
   >li {
    height: 40px;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    background-color: #efeff4;
   }

   >.active {
    border-left: 4px solid #ff008c;
    background-color: #fff;
   }
  }
 }

 .right {

  overflow: hidden;
  flex: 1;
  background-color: #fff;

  .rigth_item {
   >.item_title {
    display: flex;
    height: 40px;
    font-size: 13px;
    padding-left: 10px;
    color: #0094ff;
    align-items: center;
   }

   >.item_list {
    display: flex;
    flex-wrap: wrap;

    >li {
     width: 33.33%;
     text-align: center;
     >a {
      display: block;
      >img {
       display: block;
       width: 80%;
      }

      .item_name {
       text-align: center;
       font-size: 12px;
      }
     }
    }
   }
  }
 }
}