html,
body,
.pyg_view {
  height: 100%;
  background-color: #333;
}
body {
  padding-top: 45px;
  padding-bottom: 45px;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.pyg_view {
  overflow: scroll;
  background-color: #eee;
}
.pyg_header {
  background-color: #f0f;
  width: 100%;
  height: 45px;
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 0px;
}
.pyg_footer {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-top: 1px solid #999;
  bottom: 0px;
  left: 0px;
  display: flex;
}
.pyg_footer a {
  flex: 1;
  font-size: 13px;
  text-align: center;
  padding-top: 2px;
}
.pyg_footer a i {
  font-size: 20px;
}
.pyg_cates {
  padding: 10px 0;
  display: flex;
}
.pyg_cates a {
  flex: 1;
}
.pyg_cates a img {
  width: 80%;
}
.pyg_goodslist .goodslist {
  padding: 5px;
}
.pyg_goodslist .goodslist .goodslist_title img {
  width: 100%;
}
.pyg_goodslist .goodslist .goodslist_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pyg_goodslist .goodslist .goodslist_content > li {
  width: 49%;
  background-color: #fff;
  padding: 4px;
  margin-bottom: 6px;
}
.pyg_goodslist .goodslist .goodslist_content > li > a > img {
  width: 100%;
}
.pyg_goodslist .goodslist .goodslist_content > li > a > .goods_name {
  width: 100%;
  height: 40px;
  line-height: 20px;
  font-size: 13px;
  overflow: hidden;
}
.pyg_goodslist .goodslist .goodslist_content > li > a > .goods_price {
  font-size: 15px;
  color: red;
  font-weight: 300;
}
.pyg_goodslist .goodslist .goodslist_content > li > .goods_similar {
  display: block;
  width: 60%;
  margin: 0 auto;
}
